body.main-container {
  background-color: #b0e9e9;
  background-image: url("rock.png");
  background-position: bottom 5% right 5%;
  background-repeat: no-repeat;
  background-size: 25%;
}

@media (min-resolution: 2dppx) {
  body.main-container {
    background-image: url("rock2x.png");
    background-size: 25%;
  }
}
