.Exercise {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.Exercise__parts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Exercise__part {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Exercise__part > div {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.6);
}

.Exercise__partTitle {
  font-size: .8em;
  color: #444;
}

.Exercise__partContent {
  font-size: 6em;
}

@media (max-width: 700px) and (orientation: portrait) {
  .Exercise {
    font-size: .4em;
  }

  .Exercise__parts {
    height: 100%;
    flex-direction: column;
  }

  .Exercise__part {
    flex: initial;
  }
}
