.ResultOverlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 3em;
  cursor: pointer;
}

.ResultOverlay__result {
  font-size: 1em;
  color: white;
  padding: .3em;
  background-color: rgba(255, 62, 62, 0.57);
}

.ResultOverlay__result--correct {
  background-color: rgba(62, 255, 62, 0.57);
}

.ResultOverlay__solution {
  padding: .5em;
  font-size: .8em;
  color: #bababa;
}

.ResultOverlay__legend {
  font-size: .4em;
  color: gray;
}

@media (max-width: 700px) and (orientation: portrait) {
  .ResultOverlay {
    font-size: 5em;
  }
}
